BootstrapServers: "kafka-kafka-instance-kafka-brokers:9093"
ClientCertificateSecretName: "kafka-kafka-instance-cluster-ca-cert"
KafkaUsername: "testuser"
Group: "sap"
PasswordSecretName: "testuser"

plugins:
- name: debezium-connector-postgres
  type: zip
  url: https://repo1.maven.org/maven2/io/debezium/debezium-connector-postgres/1.4.2.Final/debezium-connector-postgres-1.4.2.Final-plugin.zip
- name: camel-http-sink-kafka-connector
  type: tgz
  url: https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-http-sink-kafka-connector/3.20.6/camel-http-sink-kafka-connector-3.20.6-package.tar.gz
- name: camel-jdbc-kafka-connector
  type: tgz
  url: https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-jdbc-kafka-connector/3.20.6/camel-jdbc-kafka-connector-3.20.6-package.tar.gz
- name: camel-sqlserver-source-kafka-connector
  type: tgz
  url: https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-sqlserver-source-kafka-connector/3.20.6/camel-sqlserver-source-kafka-connector-3.20.6-package.tar.gz
- name: debezium-connector-jdbc
  type: tgz
  url: https://repo1.maven.org/maven2/io/debezium/debezium-connector-jdbc/2.3.3.Final/debezium-connector-jdbc-2.3.3.Final-plugin.tar.gz
