apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: {{ include "postgres-instance.fullname" . }}
  labels:
    enable_postgres_monitoring: "1"
    {{- include "postgres-instance.labels" . | nindent 4 }}    
spec:
  teamId: "{{ .Release.Name }}"
  enableMasterLoadBalancer: false
  volume:
    size: {{ .Values.Size }}
  numberOfInstances: {{ .Values.Instances }}
  users:
    {{ .Values.Username }}:
      - superuser
      - createdb
  databases:
    {{ .Values.DBName }}: {{ .Values.Username }}
  postgresql:
    version: "{{ .Values.DBVersion }}"
  patroni:
    initdb:
      encoding: "UTF8"
      locale: "en_US.UTF-8"
      data-checksums: "true"
    pg_hba:
      - hostssl all all 0.0.0.0/0 md5
      - host all all 0.0.0.0/0 md5
      - host replication standby 0.0.0.0/0 md5
      - hostssl replication standby 0.0.0.0/0 md5
      - local all postgres trust
      - hostssl all +zalandos 127.0.0.1/32 pam
      - hostssl all +zalandos ::1/128 pam
      - hostssl all +zalandos all pam
