apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "postgres-instance.fullname" . }}
  labels:
    {{- include "postgres-instance.labels" . | nindent 4 }}
spec:
  teamId: "{{ .Release.Name }}"
  enableMasterLoadBalancer: false
  volume:
    size: {{ .Values.Size }}
  numberOfInstances: {{ .Values.Instances }}
  users:
    {{ .Values.Username }}:
      - superuser
      - createdb

  databases:
    {{ .Values.DBName }}: {{ .Values.Username }}
  postgresql:
    version: "{{ .Values.DBVersion }}"
  patroni:
    initdb:
      encoding: "UTF8"
      locale: "en_US.UTF-8"
      data-checksums: "true"
    pg_hba:
      - hostssl all all 0.0.0.0/0 md5
      - host    all all 0.0.0.0/0 md5
