apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ include "kafka-instance.fullname" . }}
  labels:
    {{- include "kafka-instance.labels" . | nindent 4 }}
spec:
  kafka:
    authorization:
      type: simple
    version: 3.5.1
    replicas: {{ .Values.kafka.numberOfInstances }}
    resources:
      requests:
        memory: 100M
        cpu: 100m
      limits:
        memory: 1Gi
        cpu: "1"
    jvmOptions:
      -Xms: 256m
      -Xmx: 256m
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
        authentication:
          type: scram-sha-512        
      - name: tls
        port: 9093
        type: internal
        tls: true
      - name: tls
        port: 9094
        type: external
        tls: true
        authentication:
          type: scram-sha-512                 
    config: 
    {{- range $key, $value := .Values.kafka.config }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
    storage:
      type: jbod
      volumes:
      - id: 0
        type: persistent-claim
        size: {{ .Values.kafka.diskSize }}
        deleteClaim: false
  zookeeper:
    replicas: {{ .Values.kafka.numberOfInstances }}
    storage:
      type: persistent-claim
      size: {{ .Values.kafka.zookeeperDiskSize }}
      deleteClaim: false
    resources:
      requests:
        memory: 256M
        cpu: 100m
      limits:
        memory: 1Gi
        cpu: "0.5"
    jvmOptions:
      -Xms: 256m
      -Xmx: 256m
  entityOperator:
    topicOperator:
      resources:
        requests:
          memory: 256Mi
          cpu: 100m
        limits:
          memory: 256Mi
          cpu: "0.5"
    userOperator:
      watchedNamespace: {{ .Release.Namespace }}
      secretPrefix: "KafkaUser-"
      reconciliationIntervalSeconds: 300
      resources:
        requests:
          memory: 512Mi
          cpu: 100m
        limits:
          memory: 512Mi
          cpu: "0.5"
      logging:
        type: inline
        loggers:
          rootLogger.level: DEBUG
  kafkaExporter:
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: "0.5"      

